args==0.1.0
asn1crypto==0.24.0
beautifulsoup4==4.6.3
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
clint==0.5.1
cryptography==2.3.1
enum34==1.1.6
idna==2.7
ipaddress==1.0.22
ndg-httpsclient==0.5.1
pafy==0.5.4
pathlib==1.0.1
pyasn1==0.4.4
pycparser==2.18
pyOpenSSL==18.0.0
python-vlc==3.0.102
requests==2.19.1
six==1.11.0
urllib3==1.23
vlc==0.0.0
youtube-dl==2018.8.28
nltk==3.3.0
numpy==1.14.3