args==0.1.0
asn1crypto==0.24.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.6.3
certifi==2022.12.7
cffi==1.11.5
chardet==3.0.4
clint==0.5.1
cryptography==2.3.1
cycler==0.10.0
decorator==4.3.0
enum34==1.1.6
#envplus==0.0.0
eyeD3==0.8.7
ffprobe==0.5
futures==3.2.0
google==2.0.1
google-search==1.0.2
gsl==0.0.3
hmmlearn==0.2.0
idna==2.7
imageio==2.4.1
ipaddress==1.0.22
jellyfish==0.6.1
kiwisolver==1.0.1
libmagic==1.0
lxml==4.2.5
matplotlib==2.2.3
mlpy==0.1.0
moviepy==0.2.3.5
ndg-httpsclient==0.5.1
nltk==3.3
numpy==1.15.1
pafy==0.5.4
pathlib==1.0.1
pbr==4.2.0
Pillow==5.2.0
pyasn1==0.4.4
pycparser==2.18
pydub==0.22.1
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyspeedtest==1.2.7
python-dateutil==2.7.3
python-magic==0.4.15
python-vlc==3.0.102
pytz==2018.5
requests==2.19.1
scikit-learn==0.19.2
scipy==1.1.0
simplejson==3.16.0
six==1.11.0
sklearn==0.0
stevedore==1.29.0
subprocess32==3.5.2
tqdm==4.25.0
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
vlc==0.0.0
youtube-dl==2018.9.10